<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>JurásicoKids</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
                <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
                <link href="CSS/header.css" rel="stylesheet" type="text/css"/>
    </head>
    <article th:fragment="cuerpocontactenos">  
        <body class="bodyContac">
            <div class="squareWhite">
                <br>
                <h1 style="text-align: center;margin-top: 1%;color: black">Seguinos en nuestra redes sociales</h1>
                <div style="display: flex;margin: 0 0 0 33%" >
                    <a class="col-sm-2"style="color: #CCD264;"href="https://www.facebook.com/profile.php?id=100095119513627" target="_blank"> <i style="font-size: 80px"class="fa-brands fa-facebook"></i></a>
                    <a class="col-sm-2"style="color: #CCD264;"href="https://www.instagram.com/jurasicokids/" target="_blank"><i style="font-size: 80px"class="fa-brands fa-instagram"></i></a>
                    <a class="col-sm-2"style="color: #CCD264;"href="https://github.com/CharlieACL/Proyecto-Grupo2" target="_blank"><i style="font-size: 80px"class="fa-brands fa-github"></i></a>
                </div>
                <br>
                <div>
                    <h4 style="text-align: center">¡Dejanos un mensaje y nos pondremos en contacto lo mas pronto posible!</h4>
                    <br>
                </div>
                <form th:action="@{/Contactenos}" method="POST" th:object="${contacto}">
                    <div style="margin: 0 0 2% 30%;" >
                       <label for="nombre">Nombre: </label>
                        <input id="nombre" type="text" class="input" th:field="*{nombre}", 
                               required autofocus="autofocus">
                    </div>
                    <div style="margin: 0 0 2% 22%" >
                       <label  for="correo">Correo electrónico: </label>
                        <input id="correo" type="text" class="input" th:field="*{correo}", 
                               required autofocus="autofocus">
                    </div>
                    <div style="margin: 0 0 2% 30%" >
                       <label for="telefono">Teléfono: </label>
                       <input id="telefono" type="text" class="input" style="width: 215px" th:field="*{telefono}", 
                               required autofocus="autofocus">
                    </div>
                    <div style="margin: 0 0 2% 30%" >
                       <label for="mensaje">Mensaje: </label>
                       <br>
                       <textarea id="mensaje" type="text" class="input" style="width: 215px;margin: -4% 0 0 11%" th:field="*{mensaje}", 
                                 required autofocus="autofocus"></textarea>
                    </div>
                    <div style="margin-left: 42%">
                            <button type="submit" class="btn" style="background-color: #CCD264;width: 100px;height: 40px;font-size: 15px;">Enviar</button>         
                    </div>
                    <div style="margin: 2% 0 0 31%; background: purple;color: white; font-size: 15px;width: 310px;border-radius: 10px;padding: 10px;" 
                         th:if="${param.enviado}">¡Muchas Gracias! pronto te responderemos</div> 
                    <br><br>              
                </form>
            </div>        
        </body>
    </article>
    
</html>
