<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>JurásicoKids</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="CSS/header.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <article  th:fragment="cuerpomatricula" class="img">
            <div class="cuadro" style="width: 70%;margin-left: 16%">
            <br>
            <h1 style="text-align: center; color: black;margin-top: 2%">Matrícula</h1>
            <br>
                
            <form th:action="@{/Matricula}" method="POST" th:object="${estudiante}"                          
                  enctype="multipart/form-data">
                 <input type="hidden" name="idEstudiante" th:field="*{idEstudiante}"/>
                 <input type="hidden" name="imagen" th:field="*{imagen}"/>
                 <div style="display: flex">
                     <div style="margin: 0 0 0 17%;width: 30%" >
                         <label  for="nombre" style="margin: 0 0 1% 1%">Nombre del Estudiante:</label>
                         <input id="nombre" style="border-color: #CCD264" type="text" class="form-control" th:field="*{nombre}", 
                                required autofocus="autofocus">
                     </div>
                     <div style="margin: 0 2% 0 6%;width: 30%">
                         <label style="margin: 0 0 1% 1%"  for="apellido">Apellido del Estudiante:</label>
                         <input id="apellido" style="border-color: #CCD264" type="text" class="form-control" th:field="*{apellido}", 
                                required autofocus="autofocus">
                     </div>   
                </div>
                <br>
                <div style="display: flex">
                        <div style="margin: 0 0 0 17%;width: 30%">
                            <label style="margin: 0 0 1% 1%"  for="sede">Sede:</label>
                            <input id="sede" style="border-color: #CCD264" type="text" class="form-control" th:field="*{sede}", 
                                   required autofocus="autofocus">
                        </div>
                        <div style="margin: 0 2% 0 6%;width: 30%">
                            <label style="margin: 0 0 1% 1%"  for="nivel">Nivel al matricula:</label>
                            <input id="nivel" type="text" style="border-color: #CCD264" class="form-control" th:field="*{nivel}", 
                                   required autofocus="autofocus">
                        </div>
                </div>
                <br>
                <div style="display: flex">
                        <br>
                        <div style="margin: 0 0 0 17%;width: 30%">
                            <label style="margin: 0 0 1% 1%" for="madre">Nombre de la Madre:</label>
                            <input id="direccionCallePrincipal" style="border-color: #CCD264" type="text" class="form-control" th:field="*{madre}", 
                                   required autofocus="autofocus">
                        </div>
                        <div style="margin: 0 2% 0 6%;width: 30%">
                            <label style="margin: 0 0 1% 1%" for="padre">Nombre del Padre:</label>
                            <input id="telefonoConvencional" style="border-color: #CCD264" type="text" class="form-control" th:field="*{padre}", 
                                   required autofocus="autofocus">
                        </div>
                </div>
                <br>
                <div style="display: flex">
                        <div style="margin: 0 0 0 17%;width: 30%">
                            <label style="margin: 0 0 1% 1%" for="contacto">Numero de Contacto de Emergencia:</label>
                            <input id="contacto" style="border-color: #CCD264" type="text" class="form-control" th:field="*{contacto}", 
                                   required autofocus="autofocus">
                        </div>
                        <div style="margin: 0 2% 0 6%;width: 30%">
                            <label style="margin: 0 0 1% 1%"  for="edad">Edad del niño:</label>
                            <input id="edad" style="border-color: #CCD264" type="text" class="form-control" th:field="*{edad}", 
                                   required autofocus="autofocus">
                        </div>
                </div>
                <br>
                <div style="display: flex">
                        <div style="margin: 0 0 0 17%;width: 30%">
                            <label style="margin: 0 0 1% 1%"  for="alergias">Alergias:</label>
                            <input id="alergias" style="border-color: #CCD264" type="text" class="form-control" th:field="*{alergias}", 
                                   required autofocus="autofocus">
                        </div>
                        <br>
                        <div style="margin: 0 2% 0 6%;width: 30%">
                            <label style="margin: 0 0 1% 1%" for="condicion">Condicion Especial:</label>
                            <input id="sede" style="border-color: #CCD264" type="text" class="form-control" th:field="*{condicion}", 
                                   required autofocus="autofocus">
                        </div>
                 </div>
                 <br>
                <div style="margin: 0 0 0 17%;width: 30%">
                    <label for="imagen">Foto de Perfil</label>
                    <input class="form-control" style="border-color: #CCD264" type="file" name="imagenFile"
                           onchange="readURL(this);" /> 
                    <img class="perfil" id="blah" th:src="@{${estudiante.imagen}}" alt="Foto"/>
                </div>
                        <br>
                        <div style="margin: 0 0 0 17%">
                            <button type="submit" class="btn" 
                            style="background: #CCD264; width: 120px;">Matricular</button>
                        </div>
                        <br><br>
                <div style="position: absolute; margin: -2% 0 0 12%;background-color:blueviolet;
                    border-radius: 10px;padding: 10px;font-size: 15px;color: white"
                    th:if="${param.exito}">Estudiante Matriculado exitosamente! 
                </div>
                <br><br><br>
            </form>
                
            </div>    
        </article>
    </body>
</html>
