<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Servicios</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
                <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
                <link href="../../static/CSS/EnfoqueF.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <article th:fragment="cuerpoEnfoqueH">
            <div>
                <h1 style="text-align: center;margin-top: 2%;color: black">Enfoque Holístico</h1>
            </div>
            <br><br>
                    <div style="display: flex">
                        <div>                           
                            <p style="margin: 0 0 0 3%  ;font-size: 140%">Se busca que los estudiantes aprenderán y trabajen en un ambiente familiar, inclusivo y supervisado.</p>
                            <br>
                            <p style="margin: 0 0 0 3%; font-size: 140%">Mediante la construcción de habilidades socio-emocionales y desarrollar aprendizajes de lenguaje y matemáticas de acuerdo al nivel, ritmo y tiempo de cada uno, integrándose en diversas y entretenidas actividades.</p>
                        </div>
                        <div style="margin: 0 3% 0 0 ">
                            <img src="img/dinosaurios el.jpg" width="570" height="260"/>
                        </div>
                    </div>
                    <br><br><br>
                    
                    <div>                                     
                        <img class="arte" src="img/pincel-de-artista.png" alt=""/>                                                                                   
                        <img class="plog"  src="img/cerebro.png" alt=""/>
                        <img class="comu" src="img/burbuja-de-dialogo.png" alt=""/>    
                    </div> 
                    <br><br><br>           
                    <div style="display: flex">
                        
                            <h5 style="margin: 0 0 0 10%;color: #A91E9F">Expresiones Artisticas</h5>
                        
                            <h5 style="margin: 0 0 0 19%;color: #DD6363">Pensamiento Lógico</h5>
                        
                            <h5 style=";margin: 0 0 0 21%;color: #9DEAF0">Expresión Oral</h5>                       
                    </div>
                        <br>
                    <div style="display: flex">
                        <div>
                            <p style="text-align: center; font-size: 120%;margin: 0 15% 0 4%">Se practicara la  motricidad fina y gruesa mediante de la elementos artísticos como los colores y la música, descubriendo sus emociones</p>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 120%;margin: 0 18% 0 2%">Se desarrollara la capacidad racional  permitiéndoles resolver distintos  problemas simples como clasificar, agrupar o seguir indicanciones.</p>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 120%;margin: 0 15% 0 1%">Se busca ampliar el vocabulario y lenguaje en español e inglés además de desarrollar habilidades sociales.</p>
                        </div>      
                    </div>
                    <br><br>
                    <div>                                     
                        <img class="arte" src="img/corriendo.png" alt=""/>                                                                                   
                        <img class="plog"  src="img/hoja.png" alt=""/>
                        <img class="comu" src="img/libro-abierto.png" alt=""/>    
                    </div> 
                    <br><br><br>           
                    <div style="display: flex">
                        
                            <h5 style="margin: 0 0 0 14%;color: #DAE138">Deportes</h5>
                        
                            <h5 style="margin: 0 0 0 23%;color: #11B53B">Conciencia Ambiental</h5>
                        
                            <h5 style=";margin: 0 0 0 18%;color: #E16411">Aprendizaje Integral</h5>                       
                    </div>
                        <br>
                    <div style="display: flex">
                        <div>
                            <p style="text-align: center; font-size: 120%;margin: 0 0 0 20% ">Se busca fomentar la práctica de actividades físicas para desarrollar su corporalidad y movimiento. </p>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 120%;margin: 0 2% 0 20% ">Se busca enseñar e inculcar las  celebraciones de días como la tierra y el agua, mostrándoles la importancia del medio ambiente</p>
                        </div>
                        <div>
                            <p style="text-align: center; font-size: 120%;margin: 0 10% 0 10% ">Se le brindara el aprendizaje de habilidades como lectura, escritura y conocerán las normas de su entorno socio cultural</p>
                        </div>      
                    </div>
                    <br>
        </article>
    </body>
</html>
