<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Contactenos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <article  th:fragment="cuerpomatricula">
            <h1 style="margin-top: 2%">Matrícula</h1>

            <h3>Datos Estudiante</h3>
            <label>Nombre y Apellido</label> <br>
            <input type="text" id="text" size="50">
            <label style="margin-left: 33%; margin-bottom: 1%">Identificación</label>
            <input style="margin-left: 64%" type="text" id="text" size="60">
            <label>Fecha de Nacimiento</label><br>
            <input type="text" id="text" placeholder="Día" size="5" > <input type="text" id="text" placeholder="Mes" size="5"> <input type="text" id="text" placeholder="Año" size="5">
            <br>
            <label style="margin-left: 64%; margin-bottom: 1%">Lugar de Nacimiento</label>
            <input style="margin-left: 64%" type="text" id="text" size="60">
            <label>Años Cumplidos</label>
            <br>
            <input type="text" id="text" size="5">
            <h3>Dirección Domicilaria</h3>

            <label>Dirección de la calle principal</label>
            <br>
            <input type="text" id="text" size="50" >
            <br>
            <label style="margin-left: 64%; margin-bottom: 1%">Teléfono Convencional</label>
            <input style="margin-left: 64%" type="text" id="text" size="60">
            <br>
            <label>Dirección de la calle transversal</label>
            <br>
            <input type="text" id="text" size="50" >
            <br>
            <br>
            <label>Número de casa</label>
            <br>
            <input type="text" id="text" size="5" >
            <br>

            <h3>Datos Matrícula</h3>
            <label>Sede</label><br>
            <input type="text" id="text" size="30">
            <br>
            <h3>Datos Encargado</h3>
            <label >Identificación</label>
            <br>
            <input type="text" id="text" placeholder="Identificación" size="50">
            <br>
            <br>
            <label>Nombre y Apellido</label>
            <br>
            <input type="text" id="text" placeholder="Digite el nombre y apellido" size="50">
            <br>
            <br>
            <label>Teléfono</label>
            <br>
            <input type="text" id="text" placeholder="Digite el nombre y apellido" size="50">
            <br>
            <br>
            <br>
            <br>
            <input  style="margin-left: 50%; height: 50px; width: 80px; background-color: #CCD264; border-color: #CCD264;"type="button" id="button" name="button" value="Matricular" /><br/>
        </article>
    </body>
</html>
