<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head"; style="position: fixed">
        <title>JurásicoKids</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link href="CSS/textos.css" rel="stylesheet" type="text/css"/>
        <link href="../../static/CSS/header.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <article  th:fragment="cuerpotienda">
            <div style="text-align: center;position: relative;top: 50px">
                <h1 style="color: #BBB372">Tienda</h1>
                <p style="font-size: 25px; color:#BBB372">___________________________________________________________________________________</p><br>
            </div>
            <br>
                <div class="container" style="margin: 0 0 0 12%">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                <div th:if="${tiendas != null and !tiendas.empty}" >
                                    <table class="table table-striped table-hover fs-6">
                                        <thead class="table-dark">
                                            <tr><th class="text-center">#</th>
                                                <th class="text-center">Nombre</th>
                                                <th class="text-center">Precio</th>
                                                <th class="text-center">Imagen</th>
                                                <th></th></tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="tienda, contador : ${tiendas}">
                                                <td class="text-center">[[${contador.count}]]</td>
                                                <td class="fs-6, text-center">[[${tienda.nombre}]]</td>
                                                <td class="text-center">[[${tienda.precio}]]</td>
                                                <td class="text-center"> <img id="blah" th:src="@{${tienda.rutaImagen}}" alt="your image" height="100"/> </td>
                                                <td>
                                                    <a th:href="@{/Tienda/comprar/}+${tienda.idTienda}"
                                                       class="btn btn-success">
                                                        <i class="fa-solid fa-cart-plus"></i> Comprar</a></td>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${tiendas == null or tiendas.empty}">
                                    <span>[[#{lista.vacia}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
<!--                <div style="position: absolute; top: 0; left: 0 ; padding-top: 160px">
                    <img src="img/DinoIZQ.png" alt=""/>
                </div>    
                <div style="position: absolute; top: 0; right: 0; padding-top: 155px">
                    <img src="img/DinoDER.png" alt=""/>
                </div>-->
        </article>
    </body>
</html>
