
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Profesores</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
                <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
                <link href="CSS/header.css" rel="stylesheet" type="text/css"/>
                </head>
    
        <article th:fragment="cuerpoProfesores">
            <body class="bodyProfesor">
                <div class="cuadroP inputP" style="text-align: center;"><font style="font-size: 30px">BIENVENIDO(A) A LA SECCIÓN DE PROFESORES</font></div>
                <br>
                <br>
                <div class="cuadroP1 inputP1" style="text-align: center;"><font style="font-size: 30px;">¡Conozca a los profesores que imparten las materias en nuestra institución!</font></div>
                <br>
                <br>
                    <div class="cuadroN1 inputN1">
                    <div style="display: flex">
                        <img src="img/depositphotos_26907637-stock-photo-teacher-writing-in-book-with.jpg" alt="" width="20px" class="redondear"/>
                        <p style="margin-top: 5%; margin-left: 2%;margin-top:3%;font-size: 20px"><font >Natalia Campos Montenegro</font></p>
                    </div>
                        <br>
                        <div class="cuadroN2">
                        <p><font  style="font-size: 20px;margin-left:1%">Sede: Curridabat</font></p>
                        <p><font  style="font-size: 20px;margin-left:1%">Identificación: 12345678</font></p>
                        <p><font  style="font-size: 20px;margin-left:1%">Historial Académico: Licenciada enenseñanza de las Matemáticas graduada de la Universidad de Costa Rica con 5  años de experiencia en educación y capacitación en niños menores de 4 años.</font></p>
                    </div>
                </div>
                <br>
                <br>
                    <div class="cuadroN1 inputN1">
                    <div style="display: flex">
                        <img src="img/descargar.jpg" alt="" width="20px" class="redondear"/>
                        <p style="margin-top: 5%; margin-left: 2%;margin-top:3%;font-size: 20px"><font>Esteban Cambronero Briceño</font></p>
                    </div>   
                        <br>
                    <div class="cuadroN2">
                        <p><font  style="font-size: 20px;margin-left:1%">Sede: Curridabat</font></p>
                        <p><font  style="font-size: 20px;margin-left:1%">Identificación: 67356203</font></p>
                        <p><font  style="font-size: 20px;margin-left:1%">Máster en pedagogía de la Universidad Latina deCosta Rica, Licenciado en Estudios Sociales y Cívica, 10 años de experiencia en el ámbito de la educación infantil.</font></p>
                    </div>
                </div>
                <br>
                <br>
                <div class="cuadroN1 inputN1">
                    <div style="display: flex;">
                        <img src="img/maxresdefault (1).jpg" alt="" class="redondear"/>
                        <p style="margin-top: 5%; margin-left: 2%;margin-top:3%;font-size: 20px"><font>Andrea Hernández Castro</font></p>
                    </div> 
                    <br>
                    <div class="cuadroN2">
                        <p><font  style="font-size: 20px;margin-left:1%">Sede: Curridabat</font></p>
                        <p><font  style="font-size: 20px;margin-left:1%">Identificación: 29839882</font></p>
                        <p><font  style="font-size: 20px;margin-left:1%">Licenciada en Enseñanza del inglés, 7 años de experiencia en el campo de la enseñanza infantil.</font></p>
                    </div>
                </div>
                <br>
                <br> 
            </body>
        </article>
    
</html>
