<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head"; style="position: fixed">
        <title>JurásicoKids</title>
    </head>
    <body>
        <article  th:fragment="cuerpotienda" class="cuadro" style="width: 70%; margin-left: 15%">
            <br>
            <div style="text-align: center">
                <h1 >Tienda</h1>
                <br>
            </div>
            <br>
                <div class="container" style="margin: 0 0 0 8%;width: 100%">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <div th:if="${tiendas != null and !tiendas.empty}" >
                                        <table class="table table-striped table-hover fs-6">
                                            <thead style="background: blueviolet">
                                                <tr style="color: white;text-align: center">
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Nombre</th>
                                                    <th class="text-center">Precio</th>
                                                    <th class="text-center">Imagen</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="tienda, contador : ${tiendas}"
                                                    style="text-align: center; font-weight: bold">
                                                    <td class="text-center">[[${contador.count}]]</td>
                                                    <td class="fs-6, text-center">[[${tienda.nombre}]]</td>
                                                    <td class="text-center">[[${tienda.precio}]]</td>
                                                    <td class="text-center"> <img id="blah" th:src="@{${tienda.rutaImagen}}" alt="your image" height="100"/> </td>
                                                    <td>
                                                        <a th:href="@{/carrito/agregar/}+${tienda.idTienda}"
                                                           class="btn " style="background: #CCD264;color: white;font-weight: bold">
                                                            <i class="fa-solid fa-plus"></i> Añadir al Carrito</a>
                                                    </td>                                                    
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-center p-2" th:if="${tiendas == null or tiendas.empty}">
                                        <span>Carrito Vacio</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </article>
                
        
     
    </body>
</html>
