.nav-item .nav-link{
    color: white;
}

.nav-item .nav-link:hover{
    background-color: #F2FD3A;
    font-size: 22px;
    color: purple;
    transition: 0.2s;
}

.dropdown-menu .dropdown-item{
    font-size: 20px;
    color: purple;   
}

.dropdown-menu .dropdown-item:hover{
    background-color: purple;
    color: white
}

.active:empty{
    background-color: #F2FD3A;
}
.cuadrado{
    position: static;
    top: 75%;
    width: 100%;
    height: 44%;
    background-color: #BBB372;
}

.coordinadora{
    border-radius: 100%;
    width: 165px;
    height: 165px;
    margin: 2% 0 0 12%;
}

.director{
    border-radius: 100%;
    width: 165px;
    height: 165px;
    margin: 2% 0 0 20%;
}

.pediatra{
    border-radius: 100%;
    width: 165px;
    height: 165px;
    margin: 2% 0 0 18%;
}

.mis{
    position: absolute;
    width: 75px;
    height: 75px;
    margin: -2% 0 0 15%;
}

.obj{
    position: absolute;
    width: 75px;
    height: 75px;
    margin: -2% 0 0 48%;
}

.val{
    position: absolute;
    width: 80px;
    height: 80px;
    margin: -2% 0 0 80%;
}

.pie1{
    opacity: 15%;
    width: 200px;
    height: 200px;
    margin: 2% 0 0 10%;
}

.pie2{
    opacity: 15%;
    width: 200px;
    height: 200px;
    margin: 2% 0 0 18%;
}

.pie3{
    opacity: 15%;
    width: 200px;
    height: 200px;
    margin: 2% 0 0 16%;
}


