<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/CSS/header.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="body1">
        
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <div class="container my-5">
            <div style="margin: 0 0 0 17%; "> 
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="cuadro input" style="width: 150%;opacity: .8;">
                        <br><br><br><br>
                        <br><br><br><br>
                        <br><br><br><br>
                        <br><br><br><br>                       
                    </div>
                    <img class="userL" src="img/JurasicoKids logo.png" alt="">
                    <form method="POST" th:action="@{/login}">
                        
                        <div  style="position: absolute;margin-top: -23%;margin-left: 15% ">
                            <label for="username" style="margin-left: 3%;font-size: 150% "></i>Nombre de Usuario</label>
                            <div class="col-md-7 my-auto">
                                <input class="input" style="width: 300%; height: 100%" type="text" name="username" id="username"/></div>
                        </div>
                        <div style="position: absolute;margin-top: -15%;margin-left: 15%">
                                    <label  for="password" style="font-size: 150%">Contraseña</label>
                                    <div class="col-md-7 my-auto">
                                    <input class="input" style="width: 300%; height: 100%" type="password" name="password" id="password"/></div>
                        </div>
                        <div style="position: absolute;margin-top: -7%;margin-left: 15%">
                            <button class="btn"style="background-color: #CCD264 " type="submit">
                                <span class="btn">Iniciar Sesion</span>
                            </button>
                            
                        </div>
                        <div style="position: absolute;margin-top: -7%;margin-left: 32%">
                            <button class="btn" style="background-color: #CCD264">                                        
                                <a th:href="@{/registro}" class="btn">Crear Usuario</a>
                            </button>                         
                        </div>
                        
                         
                    </form>
                    
                    <div th:if="${param.error != null}">
                        <h3>Datos incorrectos</h3>
                    </div>
                </div>
            </div>           
        </div>
    </body>
</html>
